@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@500;600;700&display=swap');
@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --primary-50: #f2ebfd;
    --primary-100: #d6c2f9;
    --primary-200: #c3a4f7;
    --primary-300: #a77bf3;
    --primary-400: #9661f1;
    --primary-500: #7c3aed;
    --primary-600: #7135d8;
    --primary-700: #5829a8;
    --primary-800: #442082;
    --primary-900: #341864;

    --neutral-50: #e7e8ea;
    --neutral-100: #b5b7bd;
    --neutral-200: #91949d;
    --neutral-300: #5e6470;
    --neutral-400: #3f4555;
    --neutral-500: #0f172a;
    --neutral-600: #0e1526;
    --neutral-700: #0b101e;
    --neutral-800: #080d17;
    --neutral-900: #060a12;

    --success-50: #e9f9ef;
    --success-100: #baedcd;
    --success-200: #99e4b5;
    --success-300: #6bd893;
    --success-400: #4ed17e;
    --success-500: #22c55e;
    --success-600: #1fb356;
    --success-700: #188c43;
    --success-800: #136c34;
    --success-900: #0e5327;

    --warning-50: #fef5e7;
    --warning-100: #fce1b3;
    --warning-200: #fad28f;
    --warning-300: #f8be5c;
    --warning-400: #f7b13c;
    --warning-500: #f59e0b;
    --warning-600: #df900a;
    --warning-700: #ae7008;
    --warning-800: #875706;
    --warning-900: #674205;

    --error-50: #fdecec;
    --error-100: #fac5c5;
    --error-200: #f8a9a9;
    --error-300: #f48282;
    --error-400: #f26969;
    --error-500: #ef4444;
    --error-600: #d93e3e;
    --error-700: #aa3030;
    --error-800: #832525;
    --error-900: #641d1d;

    --info-50: #ebf3fe;
    --info-100: #c2d8fc;
    --info-200: #a5c6fb;
    --info-300: #7cabf9;
    --info-400: #629bf8;
    --info-500: #3b82f6;
    --info-600: #3676e0;
    --info-700: #2a5caf;
    --info-800: #204887;
    --info-900: #193767;

    --white: #ffffff;
  }

  .heading-lg {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 3.813rem;
    line-height: 1.1;
    font-weight: 700;
  }

  .heading-md {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 3.05rem;
    line-height: 1.1;
    font-weight: 700;
  }

  .heading-1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2.444rem;
    line-height: 1.2;
    font-weight: 700;
  }

  .heading-2 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.95rem;
    line-height: 1.2;
    font-weight: 700;
  }

  .heading-3 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.563rem;
    line-height: 1.3;
    font-weight: 600;
  }

  .body-lg {
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    line-height: 1.6;
    font-weight: 400;
  }

  .body-md {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
  }

  .body-sm {
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    line-height: 1.5;
    font-weight: 400;
  }

  .caption {
    font-family: 'Inter', sans-serif;
    font-size: 0.64rem;
    line-height: 1.4;
    font-weight: 500;
  }

  .btn-base {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    height: 2.75rem;
    gap: 0.5rem;
    padding-inline: 1.5rem;
    padding-block: 0.625rem;
    border-radius: 0.625rem;

    transition: all 300ms ease;
  }

  .btn-primary {
    background-color: var(--primary-500);
    color: var(--neutral-50);
  }

  .btn-secondary {
    border: 1px solid var(--primary-500);
    background-color: transparent;
    color: var(--primary-500);
  }

  .btn-primary:hover {
    background-color: var(--primary-400);
    color: var(--neutral-50);
  }

  .btn-secondary:hover {
    background-color: var(--primary-400);
    color: var(--white);
  }

  .btn-base:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}

@layer components {
}

@layer utilities {
  .card-border {
    border: 1px solid rgba(231, 232, 234, 0.08);
  }

  .card-shadow {
    box-shadow: 0 0 30px rgba(15, 23, 42, 0.15);
  }

  .border-default {
    border: 1px solid rgba(145, 148, 157, 0.5);
  }

  .shadow-default {
    box-shadow: 0 8px 24px 0 rgb(15 23 42 / 5%);
  }

  .table-b-border {
    border-bottom: 1px solid rgba(145, 148, 157, 0.2);
  }

  .card-t-border {
    border-top: 1px solid rgba(145, 148, 157, 0.2);
  }

  .tab-header-b-border {
    border-bottom: 1px solid rgba(145, 148, 157, 0.2);
  }

  .new-template-border {
    border: 1px dashed var(--primary-500);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    display: flex;
    width: max-content;
    animation: marquee 40s linear infinite;
  }

  .animate-marquee:hover {
    animation-play-state: paused;
  }
}
